.container{
    display: flex;
    width: 600px;
    justify-content: space-between;
}

div{
    border: 2px solid;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.playerWin{
    background-color: green;
    color: bisque;
}
.draw{
    background-color: blueviolet;
    color: bisque;
}
.computerWin{
    background-color: red;
    color: bisque;
}